streamlit==1.41.1
pandas==2.2.3
streamlit-card==1.0.2
requests==2.32.3
beautifulsoup4==4.12.3
nltk==3.9.1
tensorflow-cpu==2.18.0
numpy==2.0.2
keras==3.7.0
keras-models==0.0.7
Keras-Preprocessing==1.1.2
